<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162019010208-k0cnbkkmresohc3kidrmcvpnb632kfqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162019010208-k0cnbkkmresohc3kidrmcvpnb632kfqf</string>
	<key>API_KEY</key>
	<string>AIzaSyByyWpkZPfYaoxI_08h-eImH6dhPdUuF-c</string>
	<key>GCM_SENDER_ID</key>
	<string>162019010208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wingsMobile</string>
	<key>PROJECT_ID</key>
	<string>wings-mobile-2b8bb</string>
	<key>STORAGE_BUCKET</key>
	<string>wings-mobile-2b8bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162019010208:ios:0e6088cd51024453e50bc5</string>
</dict>
</plist>